<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Traffic_Racer_2D.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Traffic_Racer_2D.Properties.Settings.carConnectionString"
            connectionString="Data Source=DESKTOP-C6B1GJG\SQLEXPRESS;Initial Catalog=car;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Traffic_Racer_2D.Properties.Settings.ahmercarConnectionString"
            connectionString="Data Source=DESKTOP-C6B1GJG\SQLEXPRESS;Initial Catalog=ahmercar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Traffic_Racer_2D.Properties.Settings.racing_carConnectionString"
            connectionString="Data Source=DESKTOP-C6B1GJG\SQLEXPRESS;Initial Catalog=&quot;racing car&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Traffic_Racer_2D.Settings1>
            <setting name="HighScore" serializeAs="String">
                <value>0</value>
            </setting>
        </Traffic_Racer_2D.Settings1>
    </userSettings>
</configuration>
